<% if (user)  { %>
<h3>Welcome <%= user.name %>!</h3>
<h5>Have a look around, but be sure to use your whisper voice</h5>
<% } %>
<h2 class="page-header">Recently Added Books</h2>
<div>
  <% books.forEach(book => { %>
    <a class="link-front-page" href ="/books/<%= book.id%>">
      <img class="books-rec-add" src="<%= book.coverImagePath %>">
    </>
  <% }) %>
</div>
<% if (user)  { %>
  <form action="/logout?_method=DELETE" method="POST">
    <button class="btn btn-third" type="submit"> Log Out</button>
  </form>
<% } %>