@import 'shared/stylesheetFont.css';
@import 'shared/form.css';
@import 'shared/books.css';



:root {
  font-family: 'GT Eesti Pro Display';
  font-size: 20px;
  color: #8da3b3
}
*,*::before, *::after {
  box-sizing: border-box;
}
body {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 1rem;
}

.inner-container {
  margin: 0 2rem;
}
.header-title {
  color: #f19f51;
  text-decoration: none;
  font-size: 40px;
  /* font-family: 'GT Eesti Pro Display Thin'; */

}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  /* font-family: 'GT Eesti Pro Display Thin'; */
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  padding: 1rem;
  list-style: none;
}
.header-nav li a, .page-link {
  color: #8da3b3;
  text-decoration: none;
}
.header-title:hover {
  color: #8da3b3;
  transition: .2s ease all;

}
.header-nav li a:hover {
  color: #f19f51;
}

.page-header {
  font-weight:500;
  color: #8da3b3;
  /* font-family: 'GT Eesti Pro Display Thin'; */
}
.front-page-book-covers {
  max-height: 400px;
}
.books-rec-add {
  margin: 0 20px; 
  max-height: 400px;
  box-shadow: 0 10px 40px 0 rgba(93, 87, 166, 0.2);
}


.book-info {
  text-align: left;
} 
.link-front-page {
  list-style: none;
  text-decoration: none;

}
.btn {
  border: none;
  border-radius: 7px;
  padding: 4px 10px;
  font-size: 15px;
  /* font-family: 'GT Eesti Pro Display Thin'; */
  cursor: pointer;
  text-decoration: none;
  margin: 15px 0;
  letter-spacing: 1px;
}
.btn-primary {
  color: white;
  background-color: #8da3b3;
}
.btn-third {
  color: #8da3b3;
  background-color: transparent;
  border: 1px solid #8da3b3;
}
.btn-third:hover {
  color: white;
  background-color: #8da3b3;
  transition: .2s ease all;
  border: 1px solid #8da3b3;
} 
.btn-delete {
  color: #1c1d1e;
  background-color: #f19f51;
}
.btn-delete:hover {
  color: #1c1d1e;
  background-color: #ef8f35;
}
.btn-primary:hover {
  background-color: white;
  color: #8da3b3;
  border: 1px solid #8da3b3;
  transition: .2s ease all;

} 
.btn-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.btn-row > * {
  margin-left: 5px;
}
.btn-row > *:first-child {
  margin-left: 0;
}
