@font-face {
  font-family: 'GT Eesti Pro Display Medium';
  src: url('/public/stylesheets/shared/fontFolder/GTEestiProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display Bold';
  src: url('/public/stylesheets/shared/fontFolder/GTEestiProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display Light';
  src: url('GTEestiProDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display Regular';
  src: url('GTEestiProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Eesti Pro Display Thin';
  src: url('/public/stylesheets/shared/fontFolder/GTEestiProDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
