<h1>Welcome! <%= user %></h1>
<h2 class="page-header">Recently Added Books</h2>
<div>
  <% books.forEach(book => { %>
    <a class="link-front-page" href ="/books/<%= book.id%>">
      <img class="books-rec-add" src="<%= book.coverImagePath %>">
    </>
  <% }) %>
</div>



<form action="/logout?_method=DELETE" method="POST">
  <button type="submit"> Log Out</button>
</form>